@import "../../scss/colors";

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: flex-end;
  max-width: 935px;
  min-width: 235px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
}

.menu__item {
  padding: 10px 2px;
  margin-left: 64px;

  &:first-child {
    margin-left: 0;
  }
}

.menu__link {
  @include menu-link;
}
